*{
    padding: 0px;
    margin: 0px;
}
/*导航*/

.sum{
    float: right;
    position: relative;
    right: 50%;
    
}
.part{
    float: right;
      position: relative;
    left: 50%;
}
.move{

    background-color: black;
}

.ah1{
   text-align: right;
    margin-right: 25%;
    font-size: 350%;
    margin-top: 10%;
    color:#6e6969;
}
.video{
    margin-top: 5%;
    padding-bottom: 20%;
     width: 100%;
}
.bh1{
    text-align: right;
    color:#6e6969;
    font-size: 350%;
    margin-top: 10%;
    padding-bottom: 5%;
}
.table{
 margin-top: 5%;
   
}

.img{
   width: 20%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left:  5%;
}
.aah1{
    text-align: right;
    margin-right: 25%;
    font-size: 350%;
    margin-top: 15%;
    margin-bottom: 8%;
    color:#6e6969;
}
.item img{
    width: 100%;
}
td p{
    color: #969696;
}
#myCarousel{
    width: 80%;
  margin-left: auto;
    margin-right: auto;
}
.login{
    
  float: left;
    
    padding-left: 93%;
    margin-top: -65px;
    
}
.login a{
  float: left;
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
   text-align: center;
    margin-right: 10px;
   // border: 1px solid white;
    border-radius: 3px;
    background-color: gray;
    color: white;
    
}
.login a:hover{
    background-color: brown;
    text-decoration: none;
}

.loginput{
    margin-top: 8%;

}
.logkuang{
    display: flex;
    justify-content: center;
}
.logk{
    margin-left: -10%;
}
.splog{
    margin-top: 15%;
    margin-bottom: 5%;
}
.logback{
    margin-left: 60%;
}
#inputEmail3{
    margin-left:30px;
}
#inputPassword3{
    margin-left: 30px;
}
/*商城页面*/
.hot{
   background-color: gainsboro;
    padding: 0;
    margin-top: 5%;
    
}
.hot img{
    width: 100%;
    height: 550px;
}
.sale img{
    width: 100%;
    height: 370px;
}
.sale1 img{
    width: 100%;
    height: 370px;
   
    
}
.sale{
    margin-top: 5%;
    padding-bottom: 10%;
}
.sale1{
    margin-top: 5%;
    padding-bottom: 10%;
    
}
.saleword{
    margin-top: 10%;
    display: inline-block;
}

.wobtn{
margin-left: 20%;
    margin-top: -3%;

}
/*资讯*/
.newstotal{
    margin-top: 10%;
}
.newsword h4{
    padding-top: 2%;
}
.news{
    display: inline-block;
   padding-top: 2%;
}
.news a{
    margin-left: 2%;
}
.rema img{
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;
}
.user{
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;
}
.scene{
   padding-top: 5%;
}
.scene h4{
    margin-bottom: 3%;
}
.himg{
    width:100%;
    
}

#back{
    background-color: transparent;
    border: 1px solid #DCDCDC;
    padding: 5px 5px;
    color: 	#4682B4;
    border-radius:8%;
}
#back:hover{
    background-color: whitesmoke;
    border: 1px solid #DCDCDC;
    padding: 5px 5px;
    color: dodgerblue;
    border-radius:8%;
}
