*{
    padding: 0px;
    margin: 0px;
}
/*导航*/

.sum{
    float: right;
    position: relative;
    right: 50%;
    
}
.part{
    float: right;
      position: relative;
    left: 50%;
}
.move{

    background-color: black;
}

.ah1{
   text-align: right;
    margin-right: 25%;
    font-size: 350%;
    margin-top: 10%;
}
.video{
    margin-top: 5%;
    padding-bottom: 20%;
}
.bh1{
    text-align: right;
    
    font-size: 350%;
    margin-top: 10%;
    padding-bottom: 5%;
}
.table{
 margin-top: 5%;
   
}

.img{
   width: 20%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left:  5%;
}
.aah1{
    text-align: right;
    margin-right: 25%;
    font-size: 350%;
    margin-top: 15%;
    margin-bottom: 8%;
}
.item img{
    width: 100%;
}
#myCarousel{
    width: 80%;
  margin-left: auto;
    margin-right: auto;
}
.login{
    
  float: left;
    
    padding-left: 93%;
    margin-top: -65px;
    
}
.login a{
  float: left;
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
   text-align: center;
    margin-right: 10px;
   // border: 1px solid white;
    border-radius: 3px;
    background-color: gray;
    color: white;
    
}
.login a:hover{
    background-color: brown;
    text-decoration: none;
}


