*{
    padding: 0px;
    margin: 0px;
}
/*导航*/

.sum{
    float: right;
    position: relative;
    right: 50%;
    
}
.part{
    float: right;
      position: relative;
    left: 50%;
}
.move{

    background-color: black;
}

.ah1{
   text-align: right;
    margin-right: 25%;
    font-size: 350%;
    margin-top: 10%;
}
.video{
    margin-top: 5%;
    padding-bottom: 20%;
}
.bh1{
    text-align: right;
    
    font-size: 350%;
    margin-top: 10%;
    padding-bottom: 5%;
}
.table{
 margin-top: 5%;
   
}

.img{
   width: 20%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left:  5%;
}

